{%- paginate blog.articles by 500 -%}
  <nav aria-label="{{ 'authors.alphabet_nav' | t }}">
    <ol class="c-alphabet-list">
      {%- for tag in blog.all_tags -%}
        <li class="c-alphabet-list__item">
          <a
            href="{{ blog.url }}/tagged/{{ tag }}"
            {% if tag == current_tags[0] %}
              aria-current="page"
            {% endif %}
            class="c-alphabet-list__link"
          >
            {{ tag | remove: 'letter-' | capitalize }}
          </a>
        </li>
      {%- endfor -%}
    </ol>
  </nav>
  {% assign sorted_articles = blog.articles | sort: 'handle' %}
  <ol class="c-author-tagged-list">
    {% for article in sorted_articles %}
      {% assign title = article.metafields.verso_api.display_title.value | default: article.title %}
      <li class="c-author-tagged-list__item">
        {{ title | link_to: article.url, class: 'c-author-tagged-list__link' }}
      </li>
    {% endfor %}
  </ol>
{% endpaginate %}
