bbbbb

{%-liquid
  assign tier = tier | default: "reader"

  assign current_key = "book-club-current-" | append: tier | append: "-collection-handle"
  assign next_key = "book-club-next-" | append: tier | append: "-collection-handle"
  
  # These are the originals collections definition, as we did not achieve to get shop.metafields
  # we decided to work with shop.metaobjects instead. With the aim of do not create or change a
  # verso_api structure we also created the bookclub metaobject for storing bookclub collections.
  # assign current_collection = collections[shop.metafields.verso_api[current_key].value]
  # assign next_collection = collections[shop.metafields.verso_api[next_key].value]

  assign current_collection = collections[shop.metaobjects.bookclub[current_key].collection]
  assign next_collection = collections[shop.metaobjects.bookclub[next_key].collection]

  assign title_locale_key = 'sections.book-club-products.title_' | append: tier
  assign current_title_locale_key = title_locale_key | append: '_current'
  assign next_title_locale_key = title_locale_key | append: '_next_html'

  assign current_month_num = 'now' | date: '%m'

  case current_month_num
    when '01'
      assign current_month_name = 'Enero'
      assign next_month_name = 'Febrero'
    when '02'
      assign current_month_name = 'Febrero'
      assign next_month_name = 'Marzo'
    when '03'
      assign current_month_name = 'Marzo'
      assign next_month_name = 'Abril'
    when '04'
      assign current_month_name = 'Abril'
      assign next_month_name = 'Mayo'
    when '05'
      assign current_month_name = 'Mayo'
      assign next_month_name = 'Junio'
    when '06'
      assign current_month_name = 'Junio'
      assign next_month_name = 'Julio'
    when '07'
      assign current_month_name = 'Julio'
      assign next_month_name = 'Agosto'
    when '08'
      assign current_month_name = 'Agosto'
      assign next_month_name = 'Septiembre'
    when '09'
      assign current_month_name = 'Septiembre'
      assign next_month_name = 'Octubre'
    when '10'
      assign current_month_name = 'Octubre'
      assign next_month_name = 'Noviembre'
    when '11'
      assign current_month_name = 'Noviembre'
      assign next_month_name = 'Diciembre'
    when '12'
      assign current_month_name = 'Diciembre'
      assign next_month_name = 'Enero'
  endcase

  assign show_subscription_card = show_subscription_card | default: false
-%}
aaaa
<h1>{{ next_month }}</h1>
{%- if current_collection != blank -%}
  <section class="a-bg-book-club-tier-{{ tier }}">
    <div class="c-book-club-collection l-container l-container--max">
      <header class="c-book-club-collection__header">
        <h3 class="c-book-club-collection__title">{{ current_title_locale_key | t: month: current_month_name }}</h3>
        {%- if current_collection.description != blank -%}
          <p>{{ current_collection.description }}</p>
        {%- endif -%}
        {%- if show_subscription_card -%}
          {% render 'subscription-card', tier: tier, classname: 'c-book-club-collection__subscription-card' %}
        {%- endif -%}
      </header>
      <div class="c-book-club-collection__body">
        {% render 'book-club-collection-product-grid', collection: current_collection, tier: tier %}
        {%- if next_collection != blank -%}
          <details class="c-book-club-collection__disclosure">
            <summary class="c-book-club-collection__disclosure-toggle">
              <h3>{{ next_title_locale_key | t: month: next_month_name }}</h3>
              {% render 'icon-caret', classname: 'c-book-club-collection__disclosure-toggle-icon' %}
            </summary>
            <div class="c-book-club-collection__disclosure-body">
              {% render 'book-club-collection-product-grid', collection: next_collection, tier: tier %}
            </div>
          </details>
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}
