{%-liquid
  assign tier = tier | default: "reader"

  assign current_key = "book-club-current-" | append: tier | append: "-collection-handle"
  assign next_key = "book-club-next-" | append: tier | append: "-collection-handle"
  
  # These are the originals collections definition, as we did not achieve to get shop.metafields
  # we decided to work with shop.metaobjects instead. With the aim of do not create or change a
  # verso_api structure we also created the bookclub metaobject for storing bookclub collections.
  # assign current_collection = collections[shop.metafields.verso_api[current_key].value]
  # assign next_collection = collections[shop.metafields.verso_api[next_key].value]

  assign current_collection = collections[shop.metaobjects.bookclub[current_key].collection]
  assign next_collection = collections[shop.metaobjects.bookclub[next_key].collection]

  assign title_locale_key = 'sections.book-club-products.title_' | append: tier
  assign current_title_locale_key = title_locale_key | append: '_current'
  assign next_title_locale_key = title_locale_key | append: '_next_html'
  assign current_month = 'today' | date: '%B'
  assign next_month = 'today' | date: '%m' | plus: 1 | date: '%B'

  assign show_subscription_card = show_subscription_card | default: false
-%}
2222
<h1>{{ next_month }}</h1>
{%- if current_collection != blank -%}
  <section class="a-bg-book-club-tier-{{ tier }}">
    <div class="c-book-club-collection l-container l-container--max">
      <header class="c-book-club-collection__header">
        <h3 class="c-book-club-collection__title">{{ current_title_locale_key | t: month: current_month }}</h3>
        {%- if current_collection.description != blank -%}
          <p>{{ current_collection.description }}</p>
        {%- endif -%}
        {%- if show_subscription_card -%}
          {% render 'subscription-card', tier: tier, classname: 'c-book-club-collection__subscription-card' %}
        {%- endif -%}
      </header>
      <div class="c-book-club-collection__body">
        {% render 'book-club-collection-product-grid', collection: current_collection, tier: tier %}
        {%- if next_collection != blank -%}
          <details class="c-book-club-collection__disclosure">
            <summary class="c-book-club-collection__disclosure-toggle">
              <h3>{{ next_title_locale_key | t: month: next_month }}</h3>
              {% render 'icon-caret', classname: 'c-book-club-collection__disclosure-toggle-icon' %}
            </summary>
            <div class="c-book-club-collection__disclosure-body">
              {% render 'book-club-collection-product-grid', collection: next_collection, tier: tier %}
            </div>
          </details>
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}
