<cart-items id="cart-snippet" class="{% if classname %}{{ classname }}{% endif %} {% if cart == empty %}is-empty{% endif %}">
  <h1 class="sr-only">{{ 'sections.cart.title' | t }}</h1>

  <div class="c-cart__empty-content">
    <h2 class="c-cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
  </div>

  <form action="{{ routes.cart_url }}" method="post" id="cart">
    <div id="main-cart-items" data-id="{{ section.id }}" class="c-cart__list-block">
      <div class="js-item-contents">
        {%- if cart != empty -%}
          <ul class="c-cart__list">
            {%- for item in cart.items -%}
              <li>
                <article id="CartItem-{{ item.index | plus: 1 }}" class="c-cart-item">
                  {%- if item.image -%}
                    <img
                      srcset="{{ item.image | image_url: width: 160 }} 2x,
                        {{ item.image | image_url: width: 80 }} 1x"
                      src="{{ item.image | image_url: width: 80 }}"
                      alt="{{ item.image.alt | escape }}"
                      width="80"
                      height="{{ 80 | divided_by: item.image.aspect_ratio | round }}"
                      loading="lazy"
                      class="c-cart-item__image"
                    >
                  {%- endif -%}
                  <div class="c-cart-item__end{% if context %} c-cart-item__end--in-{{ context }}{% endif %}">
                    <header class="c-cart-item__header-block">
                      <h3>
                        <a href="{{ item.product.url }}" class="c-cart-item__title">{{ item.product.title | escape }}</a>
                      </h3>
                      {% render 'byline', authors: item.product.metafields.verso_api.authors.value, linked: false %}
                    </header>
                    <div class="c-cart-item__details-block">
                      {%- unless item.product.has_only_default_variant -%}
                        <div class="c-cart-item__style">
                          {% render 'variant-title', variant: item.variant %}
                        </div>
                      {%- endunless -%}
                      <quantity-input class="c-cart-item__quantity">
                        <button class="text-accent no-js-hidden" name="minus" type="button">
                          <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                          <span aria-hidden="true" class="pointer-events-none">–</span>
                        </button>
                        <input
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="0"
                          step="1"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          class="js-sr-only"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        <span aria-hidden="true" class="visible-quantity no-js-hidden">{{ item.quantity }}</span>
                        <button class="text-accent no-js-hidden" name="plus" type="button">
                          <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                          <span aria-hidden="true" class="pointer-events-none">+</span>
                        </button>
                      </quantity-input>
                    </div>
                    <div class="c-cart-item__price-block">
                      {% render 'loading-overlay' %}
                      <div class="c-cart-item__price-inner">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                          <s class="c-variant-card__compare-at-price">
                            <div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
                          </s>
                        {%- endif -%}
                        <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                        <span>
                          {{ item.final_line_price | money }}
                        </span>
                      </div>
                    </div>
                    <remove-item class="c-cart-item__remove-block no-js-hidden">
                      <button type="button" data-index="{{ item.index | plus: 1 }}" class="c-cart-item__remove-button">
                        <span class="sr-only">{{ 'products.product.quantity.remove_for_sr' | t: product: item.product.title | escape }}</span>
                        <span aria-hidden="true">{{ 'products.product.quantity.remove' | t }}</span>
                      </button>
                    </remove-item>
                    <div class="text-accent" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                      <small class="c-cart-item__error-text"></small>
                    </div>
                  </div>
                </article>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
    <p class="sr-only" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">
      {{ 'accessibility.loading' | t }}
    </p>
  </form>
</cart-items>
