{%- capture layout_classes -%}
    {%- if layout == "grid" -%}
        {%- if image -%}
            l-container--wide c-details-block--is-grid-with-image
        {%- else -%}
            l-container--wide c-details-block--is-grid-without-image
        {%- endif -%}
    {%- else -%}
        {%- if image -%}
            l-container--wide c-details-block--is-flexbox
        {%- else -%}
            l-container--max c-details-block--is-flexbox
        {%- endif -%}
    {%- endif -%}
{%- endcapture -%}

<section class="a-bg-default">
    <div class="l-container {{ layout_classes }}">
        {%- if image -%}
            <div class="c-details-block__image-block">
                <img
                    srcset="{{ image.src | image_url: width: 920 }} 2x,
                        {{ image.src | image_url: width: 460 }} 1x"
                    src="{{ image.src | image_url: width: 460 }}"
                    width="432"
                    height="432"
                    loading="lazy"
                    alt="{{ image.alt | escape }}"
                    class="c-details-block__image"
                />
            </div>
        {%- endif -%}
        {% if layout == "flex" %}
            <div class="c-details-block__text-content">
        {%- endif -%}
            <div class="c-details-block__header {% if layout == "grid" %}c-details-block__center-align{% endif %}">
                <h1>{{ title | escape }}</h1>
            </div>
            <div class="c-details-block__description t-rte">
                {{ description }}
            </div>
        {% if layout == "flex" %}
        </div>
        {%- endif -%}
    </div>
</section>
