{% comment %} {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
  <div>
    {%- unless line_item.product.has_only_default_variant -%}
      <span>
        {{ line_item.variant.title }}
      </span>
    {%- endunless -%}
    {%- unless line_item.selling_plan_allocation == nil -%}
      <span>
        {{ line_item.selling_plan_allocation.selling_plan.name }}
      </span>
    {%- endunless -%}
    {%- if property_size != 0 -%}
      {%- for property in line_item.properties -%}
        {% assign property_first_char = property.first | slice: 0 %}
        {%- if property.last != blank and property_first_char != '_' -%}
          <span>
            {{ property.first }}:&nbsp;
            {%- if property.last contains '/uploads/' -%}
              <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
            {%- else -%}
              {{ property.last }}
            {%- endif -%}
          </span>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
{%- endunless -%} {% endcomment %}
