{%- form 'localization', id: 'FooterLocalizationForm', class: 'c-localization-form' -%}
  <div class="c-localization-form__wrapper">
    {% render 'icon-select' classname: 'c-localization-form__select-icon' %}
    <label class="c-localization-form__label" id="localization-form-header">{{ 'localization.location_currency_label' | t }}<span class="sr-only">{{ 'localization.location_submit_warning' | t }}</span></label>
    <select name="country_code" aria-labelledby="localization-form-header" class="text-xsm" onchange="this.form.submit()">
      {%- for country in localization.available_countries -%}
        <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
          {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
        </option>
      {%- endfor -%}
    </select>
  </div>
{%- endform -%}