{%- form 'localization', id: 'FooterLocalizationForm', class: 'c-localization-form' -%}
  <div class="c-localization-form__wrapper">
    {% render 'icon-select', aria-hidden: true, classname: 'c-localization-form__select-icon' %}
    <label class="c-localization-form__label" id="localization-form-header">
      {{- 'localization.location_currency_label' | t -}}
    </label>
    <select
      name="country_code"
      aria-labelledby="localization-form-header"
      class="text-xsm"
      onchange="this.form.submit()"
      aria-describedby="will-submit-warning"
    >
      <option
        value="CA"
        {%- if localization.country.iso_code == 'CA' -%}
          selected
        {%- endif -%}
      >
        {{ 'localization.country.ca' | t }} (CAD $)
      </option>
      <option
        value="GB"
        {%- if localization.country.iso_code == 'GB' -%}
          selected
        {%- endif -%}
      >
        {{ 'localization.country.gb' | t }} (GBP £)
      </option>
      <option
        value="US"
        {%- if localization.country.iso_code == 'US' -%}
          selected
        {%- endif -%}
      >
        {{ 'localization.country.us' | t }} (USD $)
      </option>
      <option
        value="BM"
        {%- if localization.country.iso_code != 'CA'
          and localization.country.iso_code != 'GB'
          and localization.country.iso_code != 'US'
        -%}
          selected
        {%- endif -%}
      >
        {{ 'localization.country.row' | t }} (GBP £)
      </option>
    </select>
    <span id="will-submit-warning" class="sr-only">{{ 'localization.location_submit_warning' | t }}</span>
  </div>
{%- endform -%}
