<div
  data-ref="dialog"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ label_id }}"
  id="{{ id }}"
  class="c-mobile-menu a-bg-accent-dark l-drawer"
>
  {%- if section.settings.menu != blank -%}
    <nav aria-label="{{ 'sections.header.mobile_nav' | t }}">
      <ul class="c-mobile-menu__nav-list">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %} class="c-mobile-menu__link">
              {{ link.title | escape }}
            </a>
          </li>
        {%- endfor -%}
        <li>
          {% render 'user-link', hide_dialog: true, classname: 'c-mobile-menu__link c-mobile-menu__link--log-in' %}
        </li>
      </ul>
    </nav>
  {%- endif -%}
</div>
