<predictive-search data-loading-text="{{ 'accessibility.loading' | t }}" class="c-predictive-search{% if theme == 'drawer' %} c-predictive-search--drawer{% endif %}">
  <form role="search" action="{{ routes.search_url }}" method="get" class="c-predictive-search__form">
    <div class="c-predictive-search__form-inner">
      <label for="{{ input_id }}" class="c-predictive-search__label c-predictive-search__label--for-input">{{ 'predictive_search.label' | t }}</label>
      <input
        data-ref="input"
        id="{{ input_id }}"
        type="search"
        name="q"
        placeholder="{{ 'predictive_search.placeholder' | t }}"
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      >
      <button type="submit" class="c-button c-button--filled c-button--medium" aria-disabled="true">{{ 'predictive_search.submit' | t }}</button>
    </div>
    <div tabindex="-1" class="c-predictive-search__output">
      <div id="predictive-search-results" role="listbox">
        <div data-predictive-search-results class="c-predictive-search__results-wrapper">
          {% render 'loading-overlay' %}
        </div>
      </div>
      <span class="c-predictive-search-status sr-only" role="status" aria-hidden="true"></span>
    </div>
  </form>
</predictive-search>
