{% assign show_meta = show_meta | default: false %}

{%- if collection.products -%}
  <div class="c-two-up-product-grid">
    <ul class="c-two-up-product-grid__inner">
      {% for product in collection.products %}
        <li>
          <a href="{{ product.url }}" aria-label="{{ product.title }}" class="c-two-up-product-grid__link">
            <img
              srcset="{{ product.featured_media | image_url: height: 996 }} 2x,
                {{ product.featured_media | image_url: height: 498 }} 1x"
              src="{{ product.featured_media | image_url: height: 498 }}"
              alt="{{ product.featured_media.alt | escape }}"
              loading="lazy"
              width="{{ product.featured_media.aspect_ratio | times: 498 | round }}"
              height="498"
              class="c-two-up-product-grid__image a-grow-on-ancestor-hover"
            >
            {%- if show_meta -%}
              <div>
                <p class="font-bold">{{ product.title }}</p>
                {% render 'byline', contributions: product.metafields.verso_api.contributions.value, linked: false, classname: 'c-two-up-product-grid__author' %}
              </div>
            {%- endif -%}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
