{%- liquid
  assign id = variant.sku
  assign form_id = 'CurrencyLocalizationForm-' | append: id
-%}
<localization-form data-check-market="false">
  {%- form 'localization', id: form_id, class: 'c-localization-form c-localization-form--inline' -%}
    <div class="c-localization-form__wrapper">
      {% render 'icon-select', aria-hidden: true, classname: 'c-localization-form__select-icon' %}
      <label for="CurrencyLocalizationForm-select-{{ id }}" class="sr-only">
        {{- 'localization.currency_label' | t -}}
      </label>
      <select
        id="CurrencyLocalizationForm-select-{{ id }}"
        name="country_code"
        class="text-xsm"
        onchange="this.form.requestSubmit()"
        aria-describedby="CurrencyLocalizationForm-warning-{{ id }}"
      >
        <option
          value="CA"
          {%- if localization.country.iso_code == 'CA' -%}
            selected
          {%- endif -%}
        >
          CAD
        </option>
        <option
          value="GB"
          {%- if localization.country.iso_code == 'GB' -%}
            selected
          {%- endif -%}
        >
          GBP
        </option>
        <option
          value="US"
          {%- if localization.country.iso_code == 'US' -%}
            selected
          {%- endif -%}
        >
          USD
        </option>
      </select>
      <span id="CurrencyLocalizationForm-warning-{{ id }}" class="sr-only">
        {{- 'localization.location_submit_warning' | t -}}
      </span>
    </div>
  {%- endform -%}
</localization-form>
