<footer class="c-footer">
  {% comment %} {% render 'localization-form' %} {% endcomment %}
  <section class="c-footer__inner">
    <div class="c-footer__start">
      {%- if section.settings.menu != blank -%}
        <nav aria-label="{{ 'sections.footer.site_nav' | t }}">
          <ul class="c-footer__nav-list">
            {%- for link in section.settings.menu.links -%}
              <li>
                <a
                  class="c-footer__nav-link"
                  href="{{ link.url }}"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}

      {%- if section.settings.show_social -%}
        <nav aria-label="{{ 'sections.footer.social_nav' | t }}">
          <ul class="c-footer__social-list">
            {%- if settings.social_facebook_link != blank -%}
              <li>
                <a href="{{ settings.social_facebook_link }}" class="c-footer__social-link">
                  {% render 'icon-facebook' %}
                  <span class="sr-only">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
              <li>
                <a href="{{ settings.social_twitter_link }}" class="c-footer__social-link">
                  {% render 'icon-twitter' %}
                  <span class="sr-only">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li>
                <a href="{{ settings.social_instagram_link }}" class="c-footer__social-link">
                  {% render 'icon-instagram' %}
                  <span class="sr-only">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    </div>
    {%- if section.settings.show_signup_cta -%}
      <div
        data-behavior="OpenDialog"
        data-props='{"clickOutsideDeactivates":true}'
        class="c-footer__end"
      >
        <button data-ref="open" class="c-button c-button--filled c-button--medium gap-2">
          {% render 'icon-envelope', classname: 'c-footer__newsletter-icon' %}
          <span>{{ section.settings.signup_cta_text }}</span>
        </button>
        <div
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'newsletter_signup.dialog_label' | t }}"
          id="newsletter-signup-modal"
          data-ref="dialog"
          class="c-login-overlay l-overlay a-bg-accent-dark-semi-opaque"
        >
          <div data-ref="trapContainer" class="c-login-overlay__inner c-login-overlay__inner--wider a-bg-default">
            <div class="klaviyo-form-SaE75B"></div>
            <button
              data-ref="close"
              class="c-login-overlay__close-button c-header-icon-button c-header-icon-button--close"
            >
              {% render 'icon-menu' %}
              <span class="sr-only">{{ 'image_overlay.close' | t }}</span>
            </button>
          </div>
        </div>
      </div>
    {%- endif -%}
  </section>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "show_signup_cta",
      "default": true,
      "label": "t:sections.footer.settings.show_signup_cta.label"
    },
    {
      "type": "text",
      "id": "signup_cta_text",
      "default": "Sign up for our newsletter",
      "label": "t:sections.footer.settings.signup_cta_text.label"
    }
  ]
}
{% endschema %}
