<div class="l-container l-container--wide">
  <div class="c-product-detail">
    {% assign image = product.images[0] %}
    {%- if image -%}
      <div class="c-product-detail__start">
        <img
          srcset="{{ image | image_url: width: 584 }} 2x,
            {{ image | image_url: width: 287 }} 1x"
          src="{{ image | image_url: width: 287 }}"
          alt="{{ image.alt | escape }}"
          loading="lazy"
          width="287"
          height="{{ 287 | divided_by: image.aspect_ratio | round }}"
          class="c-product-detail__image"
        >
      </div>
    {%- endif -%}
    <div class="c-product-detail__end">
      <header>
        <h1 class="c-product-detail__title">
          <span>{{ product.title | escape }}</span>
        </h1>
      </header>
      {% render 'variant-picker', product: product, product_type: "gift-card" %}
      {%- if product.description != blank -%}
        <div class="t-rte">
          <p>{{ product.description }}</p>
        </div>
      {%- endif -%}
    </div>
  </div>

  {% render 'schema-product', product: product %}
</div>
