{% assign subtitle = product.metafields.verso_api.subtitle.value %}
{% assign reviews = product.metafields.verso_api.reviews.value %}

<div class="l-container l-container--wide">
  <div class="c-product-detail">
    {%- liquid
        comment
          Use 3D image if exists (always second in array)
        endcomment
        assign image = product.images[0]
        if product.images[1]
          assign image = product.images[1]
        endif
      -%}
    {%- if image -%}
      <div data-behavior="OpenDialog" class="c-product-detail__start">
        <img
          srcset="{{ image | image_url: width: 584 }} 2x,
            {{ image | image_url: width: 287 }} 1x"
          src="{{ image | image_url: width: 287 }}"
          alt="{{ image.alt | escape }}"
          loading="lazy"
          width="287"
          height="{{ 287 | divided_by: image.aspect_ratio | round }}"
          class="c-product-detail__image"
        >
        <button
          data-ref="open"
          aria-controls="product-image-overlay"
          aria-expanded="false"
          class="c-product-detail__disclosure"
        >
          <span class="c-product-detail__disclosure-icon">{% render 'icon-plus' %}</span>
          <span>{{ "image_overlay.view" | t }}</span>
        </button>
        {% render 'image-overlay', id: 'product-image-overlay' %}
      </div>
      {%- else -%}
        <div class="c-product-detail__start">
          <img
            src="{{ 'product-image-placeholder.static.svg' | asset_url }}"
            alt=""
            loading="lazy"
            width="181"
            height="287"
            class="c-product-detail__image"
          >
        </div>
    {%- endif -%}
    <div class="c-product-detail__end">
      <header>
        <h1 class="c-product-detail__title">
          <span>{{ product.title | escape }}{%- if subtitle -%}:{%- endif -%}</span>
          {%- if subtitle -%}
            <span class="c-product-detail__subtitle">{{ subtitle }}</span>
          {%- endif -%}
        </h1>
        {%
          render 'byline',
          authors: product.metafields.verso_api.authors.value,
          linked: true,
          classname: "c-product-detail__byline"
        %}
      </header>
      {% render 'variant-picker', product: product, physical_variant_subtitle: section.settings.physical_variant_subtitle, ebook_variant_description: section.settings.ebook_variant_description %}
      {%- if product.description != blank -%}
        <div class="t-rte">
          <p>{{ product.description }}</p>
        </div>
      {%- endif -%}
      {%- if reviews.size > 0 -%}
        {% render 'product-reviews' reviews: reviews %}
      {%- endif -%}

    </div>
  </div>

  {%- if product.type == "Books" -%}
    {% render 'schema-book', product: product %}
  {%- else -%}
    {% render 'schema-product', product: product %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "a-bg-default",
  "settings": [
    {
      "type": "text",
      "id": "physical_variant_subtitle",
      "label": "t:sections.main-product.settings.physical_variant_subtitle.label",
      "info": "t:sections.main-product.settings.physical_variant_subtitle.info"
    },
    {
      "type": "text",
      "id": "ebook_variant_description",
      "label": "t:sections.main-product.settings.ebook_variant_description.label",
      "info": "t:sections.main-product.settings.ebook_variant_description.info"
    }
  ]
}
{% endschema %}
