<section class="a-bg-default">
  <div class="l-container l-container--x-narrow">
    <h1 class="text-h2 text-accent a-no-outline">{{ 'general.password_page.login_form_heading' | t }}</h1>
    <div class="mbs-small">
      {%- form 'storefront_password', class: 'c-form' -%}
        {%- if form.errors -%}
          <div id="PasswordLoginForm-password-error" role="status" class="c-form__section text-accent text-sm">
            <p tabindex="-1" autofocus class="a-no-outline">
              <span class="sr-only">{{ 'accessibility.error' | t }}</span>
              <span>{{ 'general.password_page.login_form_error' | t }}</span>
            </p>
          </div>
        {%- endif -%}
        <div class="c-form__section c-form__section--inputs">
          <div class="a-input-wrapper">
            <label for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
            <input
              type="password"
              name="password"
              id="Password"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
            >
          </div>
        </div>
        <div class="c-form__section">
          <button name="commit" class="c-button c-button--medium c-button--filled">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
        <div class="c-form__section">
          <p class="text-neutral-45 text-sm">
            {{ 'general.password_page.admin_link_pre_text' | t }} <a href="admin" class="text-accent underline">{{ 'general.password_page.admin_link_text' | t }}</a>
          </p>
        </div>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section"
}
{% endschema %}
